[flake8]
ignore = 
    E501, # line length  
    W503  # line break before binary operator, will soon become 'best practice' https://www.flake8rules.com/rules/W503.html
exclude =
    .git,
    __pycache__,
    build,
    dist,
    source,
    tubular/__init__.py,
    tubular/testing/__init__.py